<a href="https://colab.research.google.com/github/aliffahrizal1st/Analyzing-Mental-Health-On-Teach-Survey/blob/main/Analyzing_Mental_Health_On_Teach_Survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connect to Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
%cd /content/gdrive/MyDrive/Portofolios/Mental Health Survey/Dataset

/content/gdrive/MyDrive/Portofolios/Mental Health Survey/Dataset

# Import Packages & Libraries

In [3]:
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Import Data

In [4]:
df = pd.read_csv('survey.csv')

# Initial EDA

In [5]:
# Check Dataset
df.head(10)

             Timestamp  Age  Gender  ... mental_vs_physical obs_consequence comments
0  2014-08-27 11:29:31   37  Female  ...                Yes              No      NaN
1  2014-08-27 11:29:37   44       M  ...         Don't know              No      NaN
2  2014-08-27 11:29:44   32    Male  ...                 No              No      NaN
3  2014-08-27 11:29:46   31    Male  ...                 No             Yes      NaN
4  2014-08-27 11:30:22   31    Male  ...         Don't know              No      NaN
5  2014-08-27 11:31:22   33    Male  ...         Don't know              No      NaN
6  2014-08-27 11:31:50   35  Female  ...         Don't know              No      NaN
7  2014-08-27 11:32:05   39       M  ...                 No              No      NaN
8  2014-08-27 11:32:39   42  Female  ...                 No              No      NaN
9  2014-08-27 11:32:43   23    Male  ...                Yes              No      NaN

[10 rows x 27 columns]

In [6]:
#Check Type Each Column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [7]:
#Check Missing Value
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [8]:
for column in df.columns:
    print(f"============= {column} =================")
    display(df[column].value_counts())
    print(' ')

============= Timestamp =================

2014-08-28 16:52:34    2
2014-08-27 15:24:47    2
2014-08-27 17:33:52    2
2014-08-28 09:59:39    2
2014-08-28 16:58:33    2
                      ..
2014-08-28 08:43:57    1
2014-08-27 16:40:35    1
2014-08-28 17:31:06    1
2014-09-02 08:24:43    1
2014-08-27 16:25:26    1
Name: Timestamp, Length: 1246, dtype: int64

============= Age =================

 29             85
 32             82
 26             75
 27             71
 33             70
 28             68
 31             67
 34             65
 30             63
 25             61
 35             55
 23             51
 24             46
 37             43
 38             39
 36             37
 39             33
 40             33
 43             28
 41             21
 22             21
 42             20
 21             16
 45             12
 46             12
 44             11
 19              9
 18              7
 20              6
 48              6
 50              6
 51              5
 56              4
 49              4
 57              3
 54              3
 55              3
 47              2
 60              2
 11              1
 8               1
 5               1
 99999999999     1
-1726            1
 53              1
 58              1
 61              1
 62              1
 65              1
 72              1
 329             1
-29              1
-1               1
Name: Age, dtype: int64

============= Gender =================

Male                                              615
male                                              206
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Woman                                               3
Male                                                3
Man                                                 2
Cis Male                                            2
Female (trans)                                      2
Female                                              2
Mail                                                1
ostensibly male, unsure what that really means      1
male leaning androgynous                            1
p                                                   1
woman                                               1
non-binary                                          1
fluid                                               1
Trans-female                                        1
Agender                                             1
Malr                                                1
Neuter                                              1
something kinda male?                               1
cis-female/femme                                    1
Genderqueer                                         1
Trans woman                                         1
Femake                                              1
All                                                 1
Female (cis)                                        1
msle                                                1
Male-ish                                            1
Enby                                                1
queer                                               1
Androgyne                                           1
cis male                                            1
Mal                                                 1
Guy (-ish) ^_^                                      1
maile                                               1
Cis Female                                          1
Cis Man                                             1
Nah                                                 1
A little about you                                  1
queer/she/they                                      1
femail                                              1
Male (CIS)                                          1
Name: Gender, dtype: int64

============= Country =================

United States             751
United Kingdom            185
Canada                     72
Germany                    45
Ireland                    27
Netherlands                27
Australia                  21
France                     13
India                      10
New Zealand                 8
Sweden                      7
Italy                       7
Switzerland                 7
Poland                      7
South Africa                6
Belgium                     6
Brazil                      6
Israel                      5
Bulgaria                    4
Singapore                   4
Austria                     3
Russia                      3
Finland                     3
Mexico                      3
Croatia                     2
Colombia                    2
Greece                      2
Portugal                    2
Denmark                     2
Japan                       1
Bosnia and Herzegovina      1
Slovenia                    1
Czech Republic              1
Uruguay                     1
Hungary                     1
Costa Rica                  1
Latvia                      1
Bahamas, The                1
Zimbabwe                    1
Norway                      1
Nigeria                     1
Thailand                    1
Spain                       1
Georgia                     1
China                       1
Romania                     1
Moldova                     1
Philippines                 1
Name: Country, dtype: int64

============= state =================

CA    138
WA     70
NY     57
TN     45
TX     44
OH     30
IL     29
OR     29
PA     29
IN     27
MI     22
MN     21
MA     20
FL     15
NC     14
VA     14
GA     12
MO     12
WI     12
UT     11
CO      9
AL      8
MD      8
AZ      7
OK      6
NJ      6
SC      5
KY      5
IA      4
DC      4
CT      4
VT      3
NH      3
KS      3
SD      3
NV      3
NE      2
NM      2
WY      2
ID      1
RI      1
WV      1
MS      1
ME      1
LA      1
Name: state, dtype: int64

============= self_employed =================

No     1095
Yes     146
Name: self_employed, dtype: int64

============= family_history =================

No     767
Yes    492
Name: family_history, dtype: int64

============= treatment =================

Yes    637
No     622
Name: treatment, dtype: int64

============= work_interfere =================

Sometimes    465
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64

============= no_employees =================

6-25              290
26-100            289
More than 1000    282
100-500           176
1-5               162
500-1000           60
Name: no_employees, dtype: int64

============= remote_work =================

No     883
Yes    376
Name: remote_work, dtype: int64

============= tech_company =================

Yes    1031
No      228
Name: tech_company, dtype: int64

============= benefits =================

Yes           477
Don't know    408
No            374
Name: benefits, dtype: int64

============= care_options =================

No          501
Yes         444
Not sure    314
Name: care_options, dtype: int64

============= wellness_program =================

No            842
Yes           229
Don't know    188
Name: wellness_program, dtype: int64

============= seek_help =================

No            646
Don't know    363
Yes           250
Name: seek_help, dtype: int64

============= anonymity =================

Don't know    819
Yes           375
No             65
Name: anonymity, dtype: int64

============= leave =================

Don't know            563
Somewhat easy         266
Very easy             206
Somewhat difficult    126
Very difficult         98
Name: leave, dtype: int64

============= mental_health_consequence =================

No       490
Maybe    477
Yes      292
Name: mental_health_consequence, dtype: int64

============= phys_health_consequence =================

No       925
Maybe    273
Yes       61
Name: phys_health_consequence, dtype: int64

============= coworkers =================

Some of them    774
No              260
Yes             225
Name: coworkers, dtype: int64

============= supervisor =================

Yes             516
No              393
Some of them    350
Name: supervisor, dtype: int64

============= mental_health_interview =================

No       1008
Maybe     207
Yes        44
Name: mental_health_interview, dtype: int64

============= phys_health_interview =================

Maybe    557
No       500
Yes      202
Name: phys_health_interview, dtype: int64

============= mental_vs_physical =================

Don't know    576
Yes           343
No            340
Name: mental_vs_physical, dtype: int64

============= obs_consequence =================

No     1075
Yes     184
Name: obs_consequence, dtype: int64

============= comments =================

* Small family business - YMMV.                                                                                                                                                                                                                                                                                                                                                      5
I've seen negative consequences towards mental health conditions in previous workplaces.Working remote is empowering in this way.                                                                                                                                                                                                                                                    1
Sometimes I think  about using drugs for my mental health issues. If i use drugs I feel better                                                                                                                                                                                                                                                                                       1
If a man in tech is afraid of speaking up about these things it is even worse for women in tech who are already fearful of and fighting against the stigma of incompetence.  On the other hand if a female in tech does not commiserate with her male coworkers on mental health problems she will no longer be seen as a team player. It is really a catch-22 for women in STEM.    1
When you are an introvert people don't notice if you are depressed. Its a vicious cycle of sorts.                                                                                                                                                                                                                                                                                    1
                                                                                                                                                                                                                                                                                                                                                                                    ..
Thank you this is very important.                                                                                                                                                                                                                                                                                                                                                    1
Nice job on the text field for gender :-)                                                                                                                                                                                                                                                                                                                                            1
Just starting a new job hence the numerous I don't know selections.                                                                                                                                                                                                                                                                                                                  1
My current work situation was constructed in part because of my mental health issues. One of the reasons I'm self employed is to give me the most flexibility for coping with my mental health issues.I have been removed from a client project in the past because of a mental health condition. This was while I was an employee for a large consulting company.                   1
Thank you for all you are doing to study this topic and raise awareness in our communities.                                                                                                                                                                                                                                                                                          1
Name: comments, Length: 160, dtype: int64

**Count the percentage missing value**

In [9]:
#State
100 * len(df[df['state'].isnull()]) / len(df)

40.9054805401112

In [10]:
#self_employed
100 * len(df[df['self_employed'].isnull()]) / len(df)

1.4297061159650517

In [11]:
#work_interfere
100 * len(df[df['work_interfere'].isnull()]) / len(df)

20.96902303415409

In [12]:
#comments
100 * len(df[df['comments'].isnull()]) / len(df)

86.97378872120731

**Drop column with missing > 25%**

In [13]:
df = df.drop(columns=['state','Timestamp','comments'])

In [14]:
df.head(5)

   Age  Gender  ... mental_vs_physical obs_consequence
0   37  Female  ...                Yes              No
1   44       M  ...         Don't know              No
2   32    Male  ...                 No              No
3   31    Male  ...                 No             Yes
4   31    Male  ...         Don't know              No

[5 rows x 24 columns]

**Imputation for missing value each column**

In [15]:
# Mode imputation on self_employed columns

mode_self_employed = df[df['self_employed'].notnull()]['self_employed'].mode()[0]

df['self_employed'] = df['self_employed'].apply(lambda x: mode_self_employed if x != x else x)

In [16]:
# Mode imputation on work_interfere columns

mode_work_interfere = df[df['work_interfere'].notnull()]['work_interfere'].mode()[0]
df['work_interfere'] = df['work_interfere'].apply(lambda x: mode_work_interfere if x != x else x)

In [17]:
# Mode imputation on work_interfere columns

mode_work_interfere = df[df['work_interfere'].notnull()]['work_interfere'].mode()[0]
df['work_interfere'] = df['work_interfere'].apply(lambda x: mode_work_interfere if x != x else x)

In [18]:
df.head(5)

   Age  Gender  ... mental_vs_physical obs_consequence
0   37  Female  ...                Yes              No
1   44       M  ...         Don't know              No
2   32    Male  ...                 No              No
3   31    Male  ...                 No             Yes
4   31    Male  ...         Don't know              No

[5 rows x 24 columns]

In [19]:
for column in df.columns:
    print(f"============= {column} =================")
    display(df[column].value_counts())
    print(' ')

============= Age =================

 29             85
 32             82
 26             75
 27             71
 33             70
 28             68
 31             67
 34             65
 30             63
 25             61
 35             55
 23             51
 24             46
 37             43
 38             39
 36             37
 39             33
 40             33
 43             28
 41             21
 22             21
 42             20
 21             16
 45             12
 46             12
 44             11
 19              9
 18              7
 20              6
 48              6
 50              6
 51              5
 56              4
 49              4
 57              3
 54              3
 55              3
 47              2
 60              2
 11              1
 8               1
 5               1
 99999999999     1
-1726            1
 53              1
 58              1
 61              1
 62              1
 65              1
 72              1
 329             1
-29              1
-1               1
Name: Age, dtype: int64

============= Gender =================

Male                                              615
male                                              206
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Woman                                               3
Male                                                3
Man                                                 2
Cis Male                                            2
Female (trans)                                      2
Female                                              2
Mail                                                1
ostensibly male, unsure what that really means      1
male leaning androgynous                            1
p                                                   1
woman                                               1
non-binary                                          1
fluid                                               1
Trans-female                                        1
Agender                                             1
Malr                                                1
Neuter                                              1
something kinda male?                               1
cis-female/femme                                    1
Genderqueer                                         1
Trans woman                                         1
Femake                                              1
All                                                 1
Female (cis)                                        1
msle                                                1
Male-ish                                            1
Enby                                                1
queer                                               1
Androgyne                                           1
cis male                                            1
Mal                                                 1
Guy (-ish) ^_^                                      1
maile                                               1
Cis Female                                          1
Cis Man                                             1
Nah                                                 1
A little about you                                  1
queer/she/they                                      1
femail                                              1
Male (CIS)                                          1
Name: Gender, dtype: int64

============= Country =================

United States             751
United Kingdom            185
Canada                     72
Germany                    45
Ireland                    27
Netherlands                27
Australia                  21
France                     13
India                      10
New Zealand                 8
Sweden                      7
Italy                       7
Switzerland                 7
Poland                      7
South Africa                6
Belgium                     6
Brazil                      6
Israel                      5
Bulgaria                    4
Singapore                   4
Austria                     3
Russia                      3
Finland                     3
Mexico                      3
Croatia                     2
Colombia                    2
Greece                      2
Portugal                    2
Denmark                     2
Japan                       1
Bosnia and Herzegovina      1
Slovenia                    1
Czech Republic              1
Uruguay                     1
Hungary                     1
Costa Rica                  1
Latvia                      1
Bahamas, The                1
Zimbabwe                    1
Norway                      1
Nigeria                     1
Thailand                    1
Spain                       1
Georgia                     1
China                       1
Romania                     1
Moldova                     1
Philippines                 1
Name: Country, dtype: int64

============= self_employed =================

No     1113
Yes     146
Name: self_employed, dtype: int64

============= family_history =================

No     767
Yes    492
Name: family_history, dtype: int64

============= treatment =================

Yes    637
No     622
Name: treatment, dtype: int64

============= work_interfere =================

Sometimes    729
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64

============= no_employees =================

6-25              290
26-100            289
More than 1000    282
100-500           176
1-5               162
500-1000           60
Name: no_employees, dtype: int64

============= remote_work =================

No     883
Yes    376
Name: remote_work, dtype: int64

============= tech_company =================

Yes    1031
No      228
Name: tech_company, dtype: int64

============= benefits =================

Yes           477
Don't know    408
No            374
Name: benefits, dtype: int64

============= care_options =================

No          501
Yes         444
Not sure    314
Name: care_options, dtype: int64

============= wellness_program =================

No            842
Yes           229
Don't know    188
Name: wellness_program, dtype: int64

============= seek_help =================

No            646
Don't know    363
Yes           250
Name: seek_help, dtype: int64

============= anonymity =================

Don't know    819
Yes           375
No             65
Name: anonymity, dtype: int64

============= leave =================

Don't know            563
Somewhat easy         266
Very easy             206
Somewhat difficult    126
Very difficult         98
Name: leave, dtype: int64

============= mental_health_consequence =================

No       490
Maybe    477
Yes      292
Name: mental_health_consequence, dtype: int64

============= phys_health_consequence =================

No       925
Maybe    273
Yes       61
Name: phys_health_consequence, dtype: int64

============= coworkers =================

Some of them    774
No              260
Yes             225
Name: coworkers, dtype: int64

============= supervisor =================

Yes             516
No              393
Some of them    350
Name: supervisor, dtype: int64

============= mental_health_interview =================

No       1008
Maybe     207
Yes        44
Name: mental_health_interview, dtype: int64

============= phys_health_interview =================

Maybe    557
No       500
Yes      202
Name: phys_health_interview, dtype: int64

============= mental_vs_physical =================

Don't know    576
Yes           343
No            340
Name: mental_vs_physical, dtype: int64

============= obs_consequence =================

No     1075
Yes     184
Name: obs_consequence, dtype: int64

**Drop the duplicate value**

In [20]:
df.size

30216

In [21]:
df = df.drop_duplicates()

In [22]:
df.size

30120

In [23]:
df.head(5)

   Age  Gender  ... mental_vs_physical obs_consequence
0   37  Female  ...                Yes              No
1   44       M  ...         Don't know              No
2   32    Male  ...                 No              No
3   31    Male  ...                 No             Yes
4   31    Male  ...         Don't know              No

[5 rows x 24 columns]

Normalize other columns

In [24]:
#Age
df['Age'].value_counts().head(100)

 29             85
 32             81
 26             75
 33             70
 27             70
 28             67
 31             67
 34             65
 30             63
 25             61
 35             54
 23             51
 24             46
 37             43
 38             39
 36             37
 39             33
 40             33
 43             28
 41             21
 22             21
 42             20
 21             16
 45             12
 46             12
 44             11
 19              9
 18              7
 20              6
 48              6
 50              6
 51              5
 56              4
 49              4
 57              3
 54              3
 55              3
 47              2
 60              2
 11              1
 8               1
 5               1
 99999999999     1
-1726            1
 53              1
 58              1
 61              1
 62              1
 65              1
 72              1
 329             1
-29              1
-1               1
Name: Age, dtype: int64

In [25]:
df = df[df.iloc[:, 0].between(18, 70, inclusive=False)]

In [26]:
#Gender
df['Gender'].value_counts().head(50)

Male                                              608
male                                              200
Female                                            119
M                                                 115
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Male                                                3
Woman                                               3
Female (trans)                                      2
Man                                                 2
Female                                              2
Cis Male                                            2
fluid                                               1
Agender                                             1
Malr                                                1
Neuter                                              1
cis-female/femme                                    1
woman                                               1
male leaning androgynous                            1
ostensibly male, unsure what that really means      1
Mail                                                1
Trans-female                                        1
non-binary                                          1
Genderqueer                                         1
Cis Man                                             1
Femake                                              1
msle                                                1
femail                                              1
Nah                                                 1
Cis Female                                          1
Male-ish                                            1
Trans woman                                         1
Female (cis)                                        1
Enby                                                1
queer/she/they                                      1
queer                                               1
Androgyne                                           1
cis male                                            1
Mal                                                 1
Guy (-ish) ^_^                                      1
maile                                               1
Male (CIS)                                          1
Name: Gender, dtype: int64

In [27]:
def clean_gender(x):
    if any(i in x.lower() for i in ["m","male","guy","man","make","maile","mail"]):
      return "Male"
    elif any(i in x.lower() for i in ["f","female","femail","man","femake"]):
      return "Female"
    else:
        return 'Others'


df['Gender'] = df['Gender'].apply(clean_gender)

In [28]:
df.size

29736

In [29]:
df.head(5)

   Age Gender  ... mental_vs_physical obs_consequence
0   37   Male  ...                Yes              No
1   44   Male  ...         Don't know              No
2   32   Male  ...                 No              No
3   31   Male  ...                 No             Yes
4   31   Male  ...         Don't know              No

[5 rows x 24 columns]